# Energy/Emissions/Air Quality Data analysis
## Group effort to review datasets

### Import dependencies, setup database connection

In [2]:
import os
import psycopg2
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm 
import numpy as np
import psycopg2.extras

In [4]:
# setup connection
from sqlalchemy import create_engine

hostname = 'localhost'
username = 'postgres'
password = 'postgres'
database = 'energy_db'

connection = psycopg2.connect(host=hostname, user=username, password=password, dbname=database )

### Just curious (who burns the most coal?)

In [5]:
top_coal_df = pd.read_sql_query('select * from "top_10_coal_state_stats"',con=connection)

top_coal_df.head()

  state  year  generation_mwh      co2_mt     so2_mt    nox_mt
0    IL  1990      54966018.0  58336624.0   845232.0  330004.0
1    IN  1990      96925554.0  95600952.0  1273237.0  484016.0
2    KY  1990      70500461.0  66585266.0   818339.0  300852.0
3    MI  1990      67066870.0  65192865.0   362913.0  295425.0
4    MO  1990      48796793.0  48378620.0   720786.0  261405.0